@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(211, 216, 232);
  --light: #eaecee;
  --color-text: #3c3e41;
  --box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #ffffff;
  --gradient-bg: linear-gradient(-45deg, #d000f7, #24bae3);
    --body-color: #fcf2e8;
    --background-gradient: linear-gradient(90deg, rgba(252, 242, 232, 1) 31%, rgba(252, 242, 232, 0) 99%);
    --main-color: #fbda68;
    --text-yellow-color: #fbda68;
    --text-black-color-bold: #121212;
    --black-color: #121212;
    --white-color: white;
    --text-black-color-normal: #2b2b2b;
    ;
    --background-yellow-color: #fbda68;
    --border-gray-color: #666666;
    --border-black-color: black;
    --text-black-dont-chance: black;
    --zalo-chat-color: #0162F2
    /* --background-yellow-blod:#ffc107; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}

.sticky-card::before,
.sticky-card::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: conic-gradient(
    from 180deg at 50% 70%,
    #f626af 0deg,
    #8228ec 72.0000010729deg,
    #f626af 144.0000021458deg,
    #0025ba 216.0000085831deg,
    #f626af 288.0000042915deg,
    #fafafa 1turn
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
  opacity: 0;
  pointer-events: none;
}

.sticky-card:hover::after {
  filter: blur(20px);
  opacity: 1;
  pointer-events: auto;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

img.logo {
  max-width: 100%;
  height: 50px;
  margin: 0;
}

.gradientText {
  display: inline-block;
  background: var(--gradient-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-name {
  background: var(--gradient-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.job {
  display: inline-block;
  white-space: nowrap;
}

.job::before {
  content: attr(data-job1);
  overflow: hidden;
  display: inline-flex;
  animation: effectText 1s linear infinite alternate,
    changeText 4s linear infinite;
}

@keyframes effectText {
  from {
    max-width: 0;
  }

  to {
    max-width: 500px;
  }
}

@keyframes changeText {
  from {
    content: attr(data-job1);
  }

  to {
    content: attr(data-job2);
  }
}

// #profile-img {
//   transform: rotate(-360deg) skew(0deg) scale(0.8);
//   position: relative; /* Thêm position: relative; vào #profile-img */
// }

// .layer {
//   transition: 0.5s;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%); /* Để căn giữa phần tử .layer */
// }

// #profile-img:hover .layer:nth-child(4) {
//   transform: translate(-160px, -160px);
//   opacity: 1;
// }

// #profile-img:hover .layer:nth-child(3) {
//   transform: translate(-120px, -120px);
//   opacity: 0.8;
// }

// #profile-img:hover .layer:nth-child(2) {
//   transform: translate(-80px, -80px);
//   opacity: 0.6;
// }

// #profile-img:hover .layer:nth-child(1) {
//   transform: translate(-40px, -40px);
//   opacity: 0.4;
// }

// #about {
//   margin-top: 7rem;
//   margin-bottom: 7rem;
//   padding-bottom: 10rem;
// }

/* zalo */

@keyframes zoom {
    0% {
        transform: scale(.5);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: scale(1)
    }
}

@keyframes lucidgenzalo {
    0% {
        transform: rotate(-25deg)
    }
    50% {
        transform: rotate(25deg)
    }
}

.jscroll-to-top {
    bottom: 100px
}

.fcta-zalo-ben-trong-nut svg path {
    margin-bottom: 1rem;
    fill: #fff
}

.fcta-zalo-vi-tri-nut {
    position: fixed;
    bottom: 24px;
    right: 20px;
    z-index: 999
}

.fcta-zalo-nen-nut,
div.fcta-zalo-mess {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16)
}

.fcta-zalo-nen-nut {
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: var(--zalo-chat-color);
    border-radius: 50%;
    position: relative
}

.fcta-zalo-nen-nut::after,
.fcta-zalo-nen-nut::before {
    content: "";
    position: absolute;
    border: 1px solid var(--zalo-chat-color);
    background: var(--zalo-chat-color);
    z-index: -1;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: zoom 1.9s linear infinite
}

.fcta-zalo-nen-nut::after {
    animation-delay: .4s
}

.fcta-zalo-ben-trong-nut,
.fcta-zalo-ben-trong-nut i {
    transition: all 1s
}

.fcta-zalo-ben-trong-nut {
    // position: relative;
    transform: translate(35%, 35%);
    text-align: center;
    width: 60%;
    height: 60%;
    left: 10px;
    bottom: 30px;
    line-height: 70px;
    font-size: 25px;
    opacity: 1
}

.fcta-zalo-ben-trong-nut i {
    animation: lucidgenzalo 1s linear infinite
}

.fcta-zalo-nen-nut:hover .fcta-zalo-ben-trong-nut,
.fcta-zalo-text {
    opacity: 0
}

.fcta-zalo-nen-nut:hover i {
    transform: scale(.5);
    transition: all .5s ease-in
}

.fcta-zalo-text a {
    text-decoration: none;
    color: #fff
}

.fcta-zalo-text {
    position: absolute;
    top: 6px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    transform: scaleX(-1);
    transition: all .5s;
    line-height: 1.5
}

.fcta-zalo-nen-nut:hover .fcta-zalo-text {
    transform: scaleX(1);
    opacity: 1
}

div.fcta-zalo-mess {
    position: fixed;
    bottom: 29px;
    right: 58px;
    z-index: 99;
    background: linear-gradient(to right, #7c3aed, #ec4899);
    padding: 7px 25px 7px 15px;
    color: var(--zalo-chat-color);
    border-radius: 50px 0 0 50px;
    font-weight: 700;
    font-size: 15px
}

.fcta-zalo-mess span {
    color: #ffffff;
}

span#fcta-zalo-tracking {
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
    line-height: 1.5;
    letter-spacing: 1px;
}

.fcta-zalo-text {
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
}


/* end zalo */